
---
const { name, lastName, gender, age, picture } = Astro.props;

---

<div class="relative flex flex-col ">

	
	

	<div class="w-70 h-90 bg-gray-800 rounded-xl shadow-md border mt-12 border-gray-700 flex flex-col ">
		<div class="w-full h-32 bg-[url('/photo2.jpg')] bg-cover bg-center rounded-t-xl" title="Photo section"></div>

		<div class="p-3 pb-8 flex flex-col "></div>				
			
			<img src={picture} alt="Profile picture" class="w-20 h-20 object-cover rounded-full absolute top-36 border-gray-800 border-4 " />
			
			<h2 class="text-xl font-semibold ">{name} {lastName}</h2>
			<p class=" mt-1">Gender: <span class="font-medium ">{gender}</span></p>
			<p class="">Age: <span class="font-medium ">{age}</span></p>
		</div>
	</div>
</div>
